@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #0072ff;
  overflow-x: hidden;
  padding-top: -7px;
  /* padding: 0 3% 0 3%; */
}
